<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
  <div class="container mt-5">
    <table class="table table-hover">
      <tr>
        <th>글번호</th>
        <th>작성자</th>
        <th>글 제목</th>
        <th>글 내용</th>
        <th>조회수</th>
        <th>상세조회</th>
      </tr>
      <tr th:each="board:${boardList}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardTitle}"></td>
        <td th:text="${board.boardContents}"></td>
        <td th:text="${board.boardHits}"></td>
        <td>
          <a th:href="@{|/board/${board.id}|}">조회</a>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>